<ion-view class="bg"  view-title="Wedding Programme">
  <ion-content class="padding">
    <h2 class="headerfont">Programme</h2>
    <br>
      <p class="aligncenter">
      Peela Chawal & Baan
      </p>
      <p class="aligncenterspc">
Sunday, the 27th of November
2016
at 10:15 AM
      </p>
      <br>
      <p class="aligncenter">
      Chak-Bhat (Mayra)
      </p>
      <p class="aligncenterspc">
Wednesday, the 30th of November
2016
at 12:00 Noon
      </p>
      <br>
      <p class="aligncenter">
      Dinner
      </p>
      
<p class="aligncenterspc">
Wednesday, the 30th of November
2016
at 4:15 PM
      </p>
      <p class="aligncenter">
      <img src="../img/002.png" height="200px">
      </p>
      <br>
      <p class="aligncenter">
      Nikasi
      </p>
      
<p class="aligncenterspc">
Thursday, the first of December
2016
at 10:15 AM
      </p>
      <br>
      <p class="aligncenter">
      Panigrahn Sanskar
      </p>
      
<p class="aligncenterspc">
Thursday, the first of December
2016
at Midnight
      </p>
  </ion-content>
</ion-view>
