<ion-view class="bg" view-title="Virendra Weds Kanchan">
  <ion-content class="padding">
    <h2 class="headerfont">Wedding Invitation</h2>
      <p class="aligncenter">
      <img src="001.png" height="200px">
      </p>
    <br>
      
      <p class="aligncenter">
      Thakurani Sahiba Mohan Kanwar of Sandarsar
          
      </p>
      <p class="aligncenter">
      Cordially solicit your blessing & request the pleasure of your gracious presence on the auspicious occasion of the wedding ceremony of her grand son 
          
      </p>
      <br>
      <p class="aligncenterbigfont">

Virendra Singh

      </p>
       <p class="aligncenterbigfont">


and

      </p>
       <p class="aligncenterbigfont">


Kanchan Kanwar
      </p>
      <br>
      <p class="aligncenter">

together with our parents
invite you to share
the beginning of our new life together
          
      </p>
      <br>
<p class="aligncenterspc">
Thursday, the first of December
2016
at 10:15 AM
      </p>
  </ion-content>
</ion-view>
