<ion-view class="bg" view-title="R.S.V.P.">
  <ion-content class="padding">
    <h2 class="headerfont">R.S.V.P.</h2>
    <br>
      
      <p class="aligncenterspc">
Th. Ramkumar Singh
      </p>
      <p class="aligncenterspc">
Th. Girdhari Singh
      </p>
      <p class="aligncenterspc">
Th. Udaibeer Singh
      </p>
      <p class="aligncenterspc">
Ku. Surendra Singh
      </p>
      
      
      
      
<p class="aligncenterspc">
Mob. 9928841583, 9667727043, 8104061617, 9414063134
      </p>
      <p class="aligncenterspc">
Firm : Vacation Trip India
      </p>
      <p class="aligncenterspc">
Hotel Mewargarh
      </p>
      
      <p class="aligncenter">
      <img ng-src={{picData3}} height="200px">
      </p>
  </ion-content>
</ion-view>
